<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springmybatis.mapper.UserMapper">

    <select id="queryUser" resultType="com.example.springmybatis.entity.User">
        select * from t_user where 1=1
        <if test="arg0.id != null">
            and id=#{arg0.id}
        </if>
        <if test="arg0.name != null">
            and name=#{arg0.name}
        </if>
        <if test="arg0.age != null">
            and age=#{arg0.age}
        </if>
        <if test="arg0.fromAge != null and arg0.toAge != null">
<!--             <![CDATA[and age < 10]]>-->
            AND age BETWEEN 5 AND 10
        </if>
        order by age
        limit #{arg1.start},#{arg1.end}
    </select>

    <insert id="createUsers" parameterType="list">
        insert into t_user
            (name,sex,age,classid,create_time) values
            <foreach collection="list" item="user" separator=",">
                <trim prefix="(" suffix=")">
                    <if test="user.name != null">
                        #{user.name, jdbcType=VARCHAR},
                    </if>
                    <if test="user.sex != null">
                        #{user.sex, jdbcType=INTEGER},
                    </if>
                    <if test="user.age != null">
                        #{user.age, jdbcType=INTEGER},
                    </if>
                    <if test="user.classId != null">
                        #{user.classId, jdbcType=VARCHAR},
                    </if>
                    <if test="user.createTime != null">
                        #{user.createTime, jdbcType=VARCHAR}
                    </if>
                </trim>
            </foreach>
    </insert>
</mapper>